
.card {
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 4px 4px 35px rgba(255, 255, 255, 0.7);
  width: 250px;
  border-radius: 8px;
  text-align: center;
  
}

.image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
}

.price {
  font-weight: bold;
  color: #fff700;
}

.button {
  padding: 8px 12px;
  border: none;
  background-color: blue;
  color: white;
}

.added {
  background-color: green;
}
